@import "../../index.css";

:root {
    --dark: #101020;
    --grey: #212133;
    --light-grey: #2d2d42;
    --purple: #8438fa;
}

[contenteditable] {
    outline: 0;
}

[wysiwyg] {
    position: relative;
}
[wysiwyg]::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
}
[wysiwyg].hover::before {
    border: 1px solid var(--dark);
    margin: -1px;
}
[wysiwyg].chosen::before {
    pointer-events: none;
    border: 2px solid var(--purple);
    margin: -2px;
}
