:root {
    --dark: #101020;
    --grey: #212133;
    --light-grey: #2d2d42;
    --purple: #8438fa;
}

[wysiwyg] {
    position: relative;
}
[wysiwyg] > .menu {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
}
[wysiwyg] > .menu:hover {
    pointer-events: none;
    border: 2px solid var(--purple);
    margin: -2px;
}
